@font-face {
  font-family: "Portuguesa-Caps";
  src: url("fonts/portuguesa/Portuguesa-Caps.otf") format("opentype");
  src: url("fonts/portuguesa/Portuguesa-Caps.ttf") format("truetype")
}

@font-face {
  font-family: "Portuguesa-Script";
  src: url("fonts/portuguesa/Portuguesa-Script.otf") format("opentype");
  src: url("fonts/portuguesa/Portuguesa-Script.ttf") format("truetype")
}
